<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PracticaPruebaAPP"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practica2FCT_AlejandroSAntos"
        tools:targetApi="31">
        <activity
            android:name=".data.network.domain.ui.view.ContraseniaOlvidada"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".data.network.domain.ui.view.Registro"
            android:exported="false"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".data.network.domain.ui.view.PantallaInicio"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".data.network.domain.ui.view.PantallaPrincipalSmartSolar"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".centroAyudaActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WebWiewActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".averias.NotificacionAveriasActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".preguntasFrecuentes.PreguntasFrecuentesActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".data.network.domain.ui.view.Login"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".data.network.domain.ui.view.MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".data.network.domain.ui.view.SecondActivity"
            android:exported="false" />
    </application>

</manifest>